services:
  gluetun:
    image: docker.io/qmcgaw/gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file: wireguard.env
    networks:
      - caddy_net

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    restart: unless-stopped
    environment:
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent_config:/config
      - qbittorrent_downloads:/downloads
    network_mode: "service:gluetun"

  bitmagnet:
    image: ghcr.io/bitmagnet-io/bitmagnet:latest
    restart: unless-stopped
    env_file: bitmagnet.env
    volumes:
      - bitmagnet_config:/root/.config/bitmagnet
    command:
      - worker
      - run
      - --keys=http_server
      - --keys=queue_server
      - --keys=dht_crawler
    depends_on:
      postgres:
        condition: service_healthy
    network_mode: "service:gluetun"

  postgres:
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    env_file: postgres.env
    volumes:
      - /data/postgres-bitmagnet:/var/lib/postgresql/data
    shm_size: 1g
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready
      start_period: 20s
      interval: 10s
    network_mode: "service:gluetun"

volumes:
  bitmagnet_config:
  qbittorrent_config:
  qbittorrent_downloads:

networks:
  caddy_net:
    name: infra_caddy_net
    external: true