---
- name: Deploy Docker Stacks
  hosts: core
  vars_files:
    - vars/docker_stacks.yaml
    - vars/vault.yaml
  tasks:
    - name: Install required packages
      become: true
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
        state: present
        update_cache: true

    - name: Ensure apt keyrings directory exists
      become: true
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: "0755"

    - name: Download Docker GPG key
      become: true
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: "0644"

    - name: Add Docker apt source
      become: true
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/docker.sources
        mode: "0644"
        content: |
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: {{ ansible_distribution_release }}
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc

    - name: Install Docker
      become: true
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: true

    - name: Create root docker directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0755'
      loop:
        - /opt/docker

    - name: Create docker stack directories
      ansible.builtin.file:
        path: "{{ item.dest }}"
        state: directory
        mode: "0755"
      loop: "{{ docker_stacks }}"
      no_log: true

    - name: Copy stack source files
      ansible.builtin.copy:
        src: "{{ item.source }}"
        dest: "{{ item.dest }}/"
        mode: "0644"
      loop: "{{ docker_stacks }}"
      no_log: true

    - name: Create stack env files
      ansible.builtin.template:
        src: docker.env.j2
        dest: "{{ item.0.dest }}/{{ item.1.filename }}"
        mode: "0600"
      loop: "{{ docker_stacks | subelements('env_files', skip_missing=True) }}"
      vars:
        env_vars: "{{ item.1.vars }}"
      no_log: true

    - name: Start stacks
      community.docker.docker_compose_v2:
        project_src: "{{ item.dest }}"
        files:
          - docker-compose.yml
        state: restarted
      loop: "{{ docker_stacks }}"
