apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: podinfo
  namespace: default
spec:
  values:
    replicaCount: 2
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 64Mi
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: "cert-cluster-issuer"
        nginx.ingress.kubernetes.io/rewrite-target: /
      hosts:
        - host: podinfo.cbxon.co.uk
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: certificate-podinfo
          hosts:
            - podinfo.cbxon.co.uk