name: Deploy Containers
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        env:
          VAULT: ${{ secrets.ANSIBLE_VAULT }}
        run: |
          echo "$VAULT" | base64 -d > vault.yaml
